<a href="https://colab.research.google.com/github/rohan6471/pyflink-table/blob/main/pandastotable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from pyflink.table import StreamTableEnvironment, DataTypes, table_config
from pyflink.datastream import StreamExecutionEnvironment

import pandas as pd


env = StreamExecutionEnvironment.get_execution_environment()
env.set_parallelism(1)
t_config = table_config.TableConfig()
t_env = StreamTableEnvironment.create(env,t_config)
t_env.get_config().get_configuration().set_boolean("python.fn-execution.memory.managed", True)


df = pd.read_csv("/content/netflix_titles.csv")
print("df type:{}".format(type(df)))
col = ['show_id', 'type', 'title']

table = t_env.from_pandas(df,col)
print("table type:",type(table))

table.select("show_id, type").to_pandas()

df type:<class 'pandas.core.frame.DataFrame'>
table type: <class 'pyflink.table.table.Table'>

/usr/local/lib/python3.6/dist-packages/pyflink/table/utils.py:44: FutureWarning: Schema passed to names= option, please pass schema= explicitly. Will raise exception in future
  return pa.RecordBatch.from_arrays(arrays, schema)

     show_id     type
0         s1  TV Show
1         s2    Movie
2         s3    Movie
3         s4    Movie
4         s5    Movie
...      ...      ...
7782   s7783    Movie
7783   s7784    Movie
7784   s7785    Movie
7785   s7786  TV Show
7786   s7787    Movie

[7787 rows x 2 columns]